<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>EOS.CAFE 2nd AirDrop</h1>
        <p>Welcome to 2nd AirDrop Beans will be transfered in accordance with your EOS</p>
    </div>
    
    <h2>Total EOS what EOS.CAFE holds</h2>
    <p><%= tagline %></p>
    

    

</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
